@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



:root {
    --white: whitesmoke;
    --black:#333333;
    --mainbg: #202122;
    --navbg:#202122d2;
    --dropdown:#202122;
   --grey:  #c8c8c8 ;
   --purple: #8643eb;
   --pink:#c433e4;
   --green:rgb(35, 189, 35);
   --lightblue:rgb(7, 199, 233);
   --montserat:font-family: 'Montserrat', sans-serif;
   --fw800:font-weight: 800;
   --cursor:pointer;
   --footer:#797979;
  }



html{
    background: var(--mainbg);
}
body{
    font-family: var(--montserat);
    background: var(--mainbg)  ;
color: var(--white);
}

nav{
    background: var(--navbg);
}
#logo{
    height: 50px;
    width:159px;
}
.nav-link{
    color: var(--white);
    font-size: 18px;
}
.nav-link:hover{
color: var(--grey);
}
.nav-item{
    margin: 0px 10px;
    padding:0px 10px ;
}
.dropdown-item:hover{
background: var(--purple);
color: var(--white);
}
.dropdown-item{
    color:var(--grey) ;
    }
.dropdown-menu{
    background: var(--dropdown);
}





main{
    margin-top: 80px;
    position: relative;
}
main div img{
    width:100%;
    height:100%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
display: block;
transition: all 1s ease-in-out;

}
main div{

    width:auto;
    margin-top:10px ;
    margin-bottom: 10px;
    overflow:hidden  ;
}
main div :hover img{
  transform: scale(1.2);
z-index: 1;
}


.captions{
        font-size: 15px;
        background: red;
        z-index:4;
        
}

.android-apps-tag{
    background-color: var(--green);
    font-weight: var(--fw800);
    color:var(--white) ;
    padding: 3px 10px;
    border-radius: 5px;
    width:fit-content;
position: absolute; 
z-index: 2;
font-size: 13px;
}
.android-games-tag{
    background-color: var(--pink);
    color:var(--white) ;
    padding: 3px 10px;
    border-radius: 5px;
    width:fit-content;
position: absolute; 
z-index: 2;
font-size: 13px;


}


footer{
color:var(--footer);
}
footer a{
color:var(--footer);
    text-decoration: none;
}
footer a{
    color:var(--footer);
     
    }
    .fab{
        font-size: 25px;
        padding: 10px;
    }
   .fab:hover{
        transform: scale(1.2);
    }

@media screen and (max-width:991.98px){
    .navbar-nav{
        padding-top: 50px;
position: absolute;
margin-top: 5px;
height: 100vh;
width:300px;
background:var(--black);
left: 0px;
    }
    .teaser{
        border-top:1px solid var(--white);
        display: inline;
    }
    .nav-link:hover{
        background:var(--purple);
        color: var(--white);
        padding-left:5px;
        border-radius: 5px;
       }
       nav-link{
           font-weight: var(--fw800);
       }
}


@media screen and (max-width:767px){
    #logo{
        height: 35px;
        width:111px;
    }
    .nav-item{
        margin-top: 15px;
    }
    .carousel-captions h3{
        font-size: 20px;
    }

}
@media screen and (max-width:390px){
footer{
    flex-direction: column-reverse;
    text-align: center;
}
    .fab{
        font-size: 18px;
        padding: 10px;
    }
   .fab:hover{
        transform: scale(1.2);
    }
}